.page-header
  = link_to stock_templates_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_stock_template_path(@stock_template), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show stock_template

%dl.dl-horizontal
  %dt Name:
  %dd= @stock_template.name
